/*

    Basscss v7.0.3
    Low-level CSS toolkit
    http://basscss.com

    14.88 kB
    3.38 kB Gzipped
    286 Rules
    328 Selectors
    441 Declarations
    95 Properties

*/



body { margin: 0; padding: 0 }
img { max-width: 100% }
svg { max-height: 100% }

body {    width: calc(100vw - 32px); } /* avoids shifting the page horizontally when vertical scrollbar appears (buvo 34px)*/

input,
select,
textarea,
fieldset {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  vertical-align: middle;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
.fauxinput {
  height: 3.25rem;
  padding: 1.25rem 0.5rem 0.5rem 0.5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=checkbox]{
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

select {
  line-height: 1.75;
  padding: .5rem .5rem;
}

select:not([multiple]) {
  height: 2.25rem;
  vertical-align: middle;
}

textarea {
  line-height: 1.75;
  padding: .5rem .5rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: .25rem 1rem;
  line-height: inherit;
}

th { vertical-align: bottom }
td { vertical-align: top }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre, code, samp, .mono {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

body {
  color: #111;
  background-color: #fff;
}

a {
  color: #111;
  text-decoration: none;
}

/*a:hover {
  text-decoration: underline;
}*/

pre, code {
  background-color: transparent;
  border-radius: 3px;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}

.small {font-size: .62rem; line-height: .82rem; }
.smallish {font-size: .72rem; line-height: .88rem; }
.smallishblock {font-size: .72rem; }

.small-field {
	height: auto !important;
	padding: 0 !important;
}

.field, .fauxfield {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
  border-radius: 3px;
}

.stealthfield {border: 1px solid transparent; background-color: #efefef;}

.field:focus,
.field.is-focused {
  outline: none;
  border-color: #0074d9;
  box-shadow: 0 0 0 2px rgba(0, 116, 217, 0.5);
}

.field:disabled,
.field.is-disabled {
  background-color: rgba(0,0,0,.125);
  opacity: .5;
}

.field:read-only:not(select),
.field.is-read-only {
  background-color: #eaeaea;
}


.field.is-success {
  border-color: #2ecc40;
}

.field.is-success:focus,
.field.is-success.is-focused {
  box-shadow: 0 0 0 2px rgba(46, 204, 64, 0.5);
}

.field.is-warning {
  border-color: #ffdc00;
}

.field.is-warning:focus,
.field.is-warning.is-focused {
  box-shadow: 0 0 0 2px rgba(255, 220, 0, 0.5);
}

.field:invalid  {  border-color: #CC9; }
.field.is-error {
  border-color: #ff4136;
}

.field:invalid:focus,
.field:invalid.is-focused,
.field.is-error:focus,
.field.is-error.is-focused {
  box-shadow: 0 0 0 2px rgba(255, 65, 54, 0.5);
}

.table-light th,
.table-light td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.125);
}

.table-light tr:last-child td {
  border-bottom: 0;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.sbtn {
  font-family: inherit;
  font-size: 90%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-primary {
  color: #fff;
  background-color: #0074d9;
  border-radius: 3px;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}

.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.btn-outline {
  border-radius: 3px;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}

.h1 { font-size: 2rem }
.h2 { font-size: 1.5rem }
.h3 { font-size: 1.25rem }
.h4 { font-size: 1rem }
.h5 { font-size: .875rem }
.h6 { font-size: .75rem }

.bold    { font-weight: bold }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.table        { display: table }
.table-cell   { display: table-cell }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.left  { float: left }
.right { float: right }

.fit { max-width: 100% }

.border-box { box-sizing: border-box }

.align-baseline { vertical-align: baseline }
.align-top      { vertical-align: top }
.align-middle   { vertical-align: middle }
.align-bottom   { vertical-align: bottom }

.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }

.mt05 { margin-top: .25rem }

.m1  { margin: .5rem }
.mt1 { margin-top: .5rem }
.mr1 { margin-right: .5rem }
.mb1 { margin-bottom: .5rem }
.ml1 { margin-left: .5rem }

.m2  { margin: 1rem }
.mt2 { margin-top: 1rem }
.mr2 { margin-right: 1rem }
.mb2 { margin-bottom: 1rem }
.ml2 { margin-left: 1rem }

.m3  { margin: 2rem }
.mt3 { margin-top: 2rem }
.mr3 { margin-right: 2rem }
.mb3 { margin-bottom: 2rem }
.ml3 { margin-left: 2rem }

.m4  { margin: 4rem }
.mt4 { margin-top: 4rem }
.mr4 { margin-right: 4rem }
.mb4 { margin-bottom: 4rem }
.ml4 { margin-left: 4rem }

.mxn1 { margin-left: -.5rem; margin-right: -.5rem; }
.mxn2 { margin-left: -1rem; margin-right: -1rem; }
.mxn3 { margin-left: -2rem; margin-right: -2rem; }
.mxn4 { margin-left: -4rem; margin-right: -4rem; }

.mx1 { margin-left: .5rem; margin-right: .5rem; }
.mx2 { margin-left: 1rem; margin-right: 1rem; }
.mx3 { margin-left: 2rem; margin-right: 2rem; }
.mx4 { margin-left: 4rem; margin-right: 4rem; }

.mx-auto { margin-left: auto; margin-right: auto; }
.p0 { padding: 0 }

.p1  { padding: .5rem }
.py1 { padding-top: .5rem; padding-bottom: .5rem }
.px1 { padding-left: .5rem; padding-right: .5rem }

.p2  { padding: 1rem }
.py2 { padding-top: 1rem; padding-bottom: 1rem }
.px2 { padding-left: 1rem; padding-right: 1rem }
.pb2 { padding-bottom: 1rem }

.p3  { padding: 2rem }
.py3 { padding-top: 2rem; padding-bottom: 2rem }
.px3 { padding-left: 2rem; padding-right: 2rem }

.p4  { padding: 4rem }
.py4 { padding-top: 4rem; padding-bottom: 4rem }
.px4 { padding-left: 4rem; padding-right: 4rem }

.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed }

.top-0    { top: 0 }
.right-0  { right: 0 }
.bottom-0 { bottom: 0 }
.left-0   { left: 0 }

.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }

.sm-show, .md-show, .lg-show {
  display: none !important
}

@media (min-width: 40em) {
  .sm-show { display: block !important }
}

@media (min-width: 52em) {
  .md-show { display: block !important }
}

@media (min-width: 64em) {
  .lg-show { display: block !important }
}


@media (max-width: 40em) {
  .sm-hide { display: none !important }
}

@media (max-width: 52em) {
  .md-hide { display: none !important }
}

@media (max-width: 64em) {
  .lg-hide { display: none !important }
}

.display-none { display: none !important }
.display-hide { display: none }

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}
.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
@media (min-width: 40em) {

  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box;
  }

  .sm-col-1 {
    width: 8.33333%;
  }

  .sm-col-2 {
    width: 16.66667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.33333%;
  }

  .sm-col-5 {
    width: 41.66667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.33333%;
  }

  .sm-col-8 {
    width: 66.66667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.33333%;
  }

  .sm-col-11 {
    width: 91.66667%;
  }

  .sm-col-12 {
    width: 100%;
  }

}
@media (min-width: 52em) {

  .md-col {
    float: left;
    box-sizing: border-box;
  }

  .md-col-right {
    float: right;
    box-sizing: border-box;
  }

  .md-col-1 {
    width: 8.33333%;
  }

  .md-col-2 {
    width: 16.66667%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.33333%;
  }

  .md-col-5 {
    width: 41.66667%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.33333%;
  }

  .md-col-8 {
    width: 66.66667%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.33333%;
  }

  .md-col-11 {
    width: 91.66667%;
  }

  .md-col-12 {
    width: 100%;
  }

  .carcol {    padding-right: 2em;}

}
@media (min-width: 64em) {

  .lg-col {
    float: left;
    box-sizing: border-box;
  }

  .lg-col-right {
    float: right;
    box-sizing: border-box;
  }

  .lg-col-1 {
    width: 8.33333%;
  }

  .lg-col-2 {
    width: 16.66667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-4 {
    width: 33.33333%;
  }

  .lg-col-5 {
    width: 41.66667%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-7 {
    width: 58.33333%;
  }

  .lg-col-8 {
    width: 66.66667%;
  }

  .lg-col-9 {
    width: 75%;
  }

  .lg-col-10 {
    width: 83.33333%;
  }

  .lg-col-11 {
    width: 91.66667%;
  }

  .lg-col-12 {
    width: 100%;
  }

}

.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }

.flex-column  { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column }
.flex-wrap    { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap }

.flex-center   { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center }
.flex-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline }
.flex-stretch  { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch }
.flex-start    { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start }
.flex-end      { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end }

.flex-justify  { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between }

.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
.flex-grow { -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto }
.flex-none { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none }

.flex-first { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1 }
.flex-last  { -webkit-box-ordinal-group: 100000; -webkit-order: 99999; -ms-flex-order: 99999; order: 99999 }
@media (min-width: 40em) {
  .sm-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
}
@media (min-width: 52em) {
  .md-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
}
@media (min-width: 64em) {
  .lg-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.125);
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0,0,0,.125);
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0,0,0,.125);
}

.border-none { border: 0 }

.rounded { border-radius: 3px }
.circle  { border-radius: 50% }

.rounded-top    { border-radius: 3px 3px 0 0 }
.rounded-right  { border-radius: 0 3px 3px 0 }
.rounded-bottom { border-radius: 0 0 3px 3px }
.rounded-left   { border-radius: 3px 0 0 3px }

.not-rounded { border-radius: 0 }

.black  { color: #111 }
.gray   { color: #aaa }
.silver { color: #ddd }
.white  { color: #fff }

.aqua  { color: #7fdbff }
.blue  { color: #0074d9 }
.navy  { color: #001f3f }
.teal  { color: #39cccc }
.green { color: #2ecc40 }
.olive { color: #3d9970 }
.lime  { color: #01ff70 }

.yellow  { color: #ffdc00 }
.orange  { color: #ff851b }
.red     { color: #ff4136 }
.fuchsia { color: #f012be }
.purple  { color: #b10dc9 }
.maroon  { color: #85144b }
.kcms    { color: #CC9 }
.kcdark  { color: #82825c }

.color-inherit { color: inherit }
.muted { opacity: .5 }

.bg-black  { background-color: #111 }
.bg-gray   { background-color: #aaa }
.bg-silver { background-color: #ddd }
.bg-white  { background-color: #fff }

.bg-aqua  { background-color: #7fdbff }
.bg-blue  { background-color: #0074d9 }
.bg-navy  { background-color: #001f3f }
.bg-teal  { background-color: #39cccc }
.bg-green { background-color: #2ecc40 }
.bg-olive { background-color: #3d9970 }
.bg-lime  { background-color: #01ff70 }

.bg-yellow  { background-color: #ffdc00 }
.bg-orange  { background-color: #ff851b }
.bg-red     { background-color: #ff4136 }
.bg-fuchsia { background-color: #f012be }
.bg-purple  { background-color: #b10dc9 }
.bg-maroon  { background-color: #85144b }
.bg-kcms    { background-color: #CC9 }
.bg-kclite  { background-color: rgba(204, 204, 153, 0.37) }
.bg-kcultralite  {background-color: rgba(204, 204, 153, 0.17) }

.bg-darken-1 { background-color: rgba(0,0,0,.0625) }
.bg-darken-2 { background-color: rgba(0,0,0,.125) }
.bg-darken-3 { background-color: rgba(0,0,0,.25) }
.bg-darken-4 { background-color: rgba(0,0,0,.5) }
.bg-darken-5 { background-color: rgba(0,0,0,.92) }

.bg-lighten-1 { background-color: rgba(255,255,255,.0625) }
.bg-lighten-2 { background-color: rgba(255,255,255,.125) }
.bg-lighten-3 { background-color: rgba(255,255,255,.25) }
.bg-lighten-4 { background-color: rgba(255,255,255,.5) }


/*-------------------------
	Image upload form
--------------------------*/



 #filelist li{
	display: inline-block;
	position:relative;
  width: 120px;
  margin: 10px;
}

 .progressHolder{
	position: absolute;
	background-color:#CC9;
	height: 8px;
	width: 100%;
	top:0;
	bottom: 0;
}

.progress{
	background-color:#A0A06B;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}



/*-------------------------
	File upload button
--------------------------*/

.fileupl {
    position: relative;
    overflow: hidden;
}
.fileupl input#fileinput {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*-------------------------
	Event type tags
--------------------------*/

.tags li {
	font-size: .72rem; line-height: .72rem; float:left; margin-right: 1rem; background:#CC9;
	color:#fff; padding: .15rem
	}
  .brdrw {border-right: 1px solid #fff;}
  .tags li span {padding: .5rem}
/*
.tags li, .tags a, .tags span {
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}

  .tags a, .tags span{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#CC9;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	}

  .tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #CC9 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
	}

  .tags a:after{
	content:"";
	position:absolute;
	top:9px;
	left:0;
	float:left;
	width:6px;
	height:6px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#fff;
	}

*/






 /*
 misc
 */

  div.contentWrap {
    max-height:90%;

  }

  div.contentWrap img {}

  /*#dropbox {position: relative; width: 120px; height: 80px; border: #CC9 dashed 3px; display: none;  }*/
  .square {width: 120px; height: 120px; }
  .midsquare {margin-top: 50px;}

  .striped tr:nth-child(even) { background-color: rgba(204, 204, 153, 0.37) }
  .striped tr:nth-child(odd) { background-color: rgba(204, 204, 153, 0.17) }

.vlist {
  display: table;
}

.vlist li {
  display: table-row;
}

.vlist li label, .vlist li span {
    display: table-cell;
    width: 50%;
    padding: .5rem 2rem .5rem 0;
    border-bottom: 1px solid #CC9;
}

.vlist li span {font-weight: bold;}
.vlist li label {text-align: right;}

.pointer { cursor: pointer;}
.move-cursor {cursor: move;}
.hilite  { background-color: #CC9 !important; }

#msgcount div, #reminderCount div {padding: 0 4px; border: 1px solid #fff; }
#msgcount a, #reminderCount a {padding-right: .75rem;}

.msgstatus-Q td {font-weight: bold;}
.crop { object-fit: cover; }
.square img {width: 120px; height: 94px; }
.mcenter {margin: 0 auto;}
.ltop {padding-top: 4px;} /* compensate for logo height */
.textfield  {min-height: 50vh;}
.pic120width {width: 120px; min-height: 120px; background-size: cover; background-repeat: no-repeat; background-position: center;}
.pic120height {height: 120px;}
.pic480width {max-width: 480px; min-height: 240px; background-size: cover; background-repeat: no-repeat; background-position: center;}
.red-triangle {width: 0;
height: 0;
border-style: solid;
border-width: 0 40px 40px 0;
border-color: transparent rgba(255, 64, 54, 0.67) transparent transparent;
}
.imgbutton, .imgbutton img {width: 100px; height: 80px; }
.imgbutton { border-radius: 6px; border-width: 4px;    }
.active {
  outline: none;
  border-color: #CC9;
  box-shadow: 0 0 2px 2px rgba(204, 204, 153, 0.5);
}
#heroimg-container {height: 50vh; width: 67vh; }
#heroimg {position:absolute;
    top:0;
    bottom:0;
    margin: auto;
    max-height: 50vh; max-width: 67vh;
    }
.abscenter {top: 48%; left: 48%;}
.fs {width: 100%; height: 100%; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
#fsimg {text-align: center;}
#fsimg img {max-height: 100vh;}
#fsclose {width: 8vw; border-bottom-left-radius: 15px;}
#fspsnext, #fspsprev {bottom: 25%;}
#fsnext, #fsprev {top: 40%;}
.right-arrow {border-top-left-radius: 15px; border-bottom-left-radius: 15px;}
.left-arrow {border-top-right-radius: 15px; border-bottom-right-radius: 15px;}
#fspicstrip {height: 94px; overflow: hidden; display: none;}
#fspscont {height: 94px;}
.top-48 {top: 48%;}
.ui-tooltip {
    background-color: #CC9 !important;
    font-size: .78rem !important;
  }
.ui-widget {font-size: inherit;}
.pic120margin {margin-left: 140px;}
.lblgrp {position: relative;}
.lblgrp label {position:absolute; color: #82825c; padding: .5rem; font-size: .72rem; line-height: .72rem;}
.ui-widget-content {
    border: 1px solid #CC9;
    background-color: rgba(204, 204, 153, 0.17);
 }
 .ui-datepicker .ui-datepicker-title select {
    font-size: 0.81em !important;
}

.mw480 {max-width: 480px;}
.h96 {height: 7rem;}
.no-border, .no-border:focus {border: none; outline: none;}
.w90 {    width: 90%;}
.ui-accordion-content {background-color: transparent !important; }
.odo {padding: 1px; margin: 1px;}
.fheight {height: 3em}
.event.public-event {border-left: 6px solid #cddc39; background-color: rgba(205, 220, 57, 0.36); margin-left: -5px; }

.autoheight{
        min-height: 24px;
        resize: none;
      }

.eventlist td, .eventlist th { font-size: .72rem; line-height: .88rem; height: 1rem; }

.pl0 {padding-left: 0;}
.pr0 {padding-right: 0;}
.eventlisttxt { height: 1rem; overflow: hidden; text-overflow: ellipsis;}

.cardatatable td, .cardatatable th { font-size: .72rem; line-height: .88rem; height: 1rem; }
.cardatatable td {font-weight: bold; padding-right: 0;}
.cardatatable th {font-weight: 100; padding-left: 0;}

.flowed-flex { flex-flow: row wrap;  justify-content: space-between;;}
